# =========================
# Python
# =========================
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment Variables
.env
.env.local
.env.production
.env.development

# =========================
# Node.js
# =========================
node_modules/
.next/
dist/
build/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Render / Vercel
# =========================
.vercel/

# =========================
# Prisma
# =========================
prisma/dev.db
prisma/dev.db-journal